

body {
  background: white;
  background-image: url("https://www.gannett-cdn.com/-mm-/329b5d71fe2f5b8d56bed0f237f1fb9555813558/r=x803&c=1600x800/https/media.gannett-cdn.com/29906170001/29906170001_5521091525001_5521086157001-vs.jpg?pubId=29906170001");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:$white;
  height:100%;
  text-align:center;
  font-size:18px;
}

.wrapper{
  clear: both;
  width:100%;
  margin:0 auto;
}


canvas{
  color: white;
  border: white dashed 2px;
  padding:15px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
  font-size: 2.6em;
  color: lightgrey;
}

h2 {
  font-size: 1.6em;
  color: lightgrey;
}

p{
  font-size: 1.6em;
  font-weight: strong;
  color: red;
}

#alphabet {
  clear: both;
  margin:15px auto;
  padding:10px;
  max-width:600px;
}

#categoryName {
  clear: both;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding:10px;
  background:white;
  color:red;
  cursor:pointer;
  border: solid 1px grey;
    
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
  color: red;
}

.active {
  cursor:default;
    
}

#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

button{
  background: lightgrey;
  color: white;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
 
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }